

body {
	font-size: 14.5px;
	padding-top: 5px;
	opacity: 100% !important;
	line-height: 1.52947;
	background: #3E5368;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial", sans-serif;
}

.connectIcons {
	width: 75px;
	height: 75px;
	margin-right: 5px;
}

.footer {
  position: absolute;   
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
/*  height: 70px;*/
  margin: 0 auto;
  padding: 20px 0;
}

.footer p {
	margin: 0;
}


h1,h2, h3 {
	color: white;
}

a {
	outline: none;
}

#connectTitle {
	text-align: center;
        margin-bottom: 10%;
}

.navbar-brand {
	font-size: 1.75em !important;
	font-weight: bold;
}

.nav li {
	font-size: 1.25em !important;
	font-weight: normal;
}

section p {
	line-height: 190%;
}

p {
	color: white;
}

aside {
	margin-top: 5px;
	background: #3E5368;
}

#panel-body {
/*	margin-top: 10%;*/
	display: flex;
	justify-content: space-between;
}

.socialIcons {
	position: relative;
}

.socialIcons div {
	position: absolute;
	left: -50px;
	top: 68px;
	width: 164px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s linear;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}

.socialIcons:hover div {
	opacity: 1;
	visibility: visible;
}

.socialIcons img {
	transition: all 0.1s linear;
}

.socialIcons img:hover {
	opacity: 0.5;
}


/* selectors unique to index.html*/

#profilePicture {
	width: 300px;
	margin: 10px 25px 10px 0px;
	float: left;
	transition: all 0.5s ease;
}

#profilePicture:hover {
	width: 100%;
	float: none;
}


/* selectors unique to portfolio.html*/
#PortImagesNames {
	width: 100%;
	margin: 20px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#PortImagesIcons {
    padding-top: 2%;
}

.PortImages {
	width: 300px;
	height: 300px;
	position: relative;
        float: left;
        margin-right: 12%;
}

.PortImages:last-child {
	margin-bottom: 0px;
}

.PortImages img {
	width: inherit;
}

.PortImagesNames {
	background: #4e5d6c;
	width: 100%;
	height: 60px;
	padding-top: 12px;
	position: absolute;
	font-size: 22px;
	color: white;
	text-align: center;

	transition: all 0.2s linear;
}

.PortImagesNames:hover {
	background: #777777;
}

input, textarea {
	box-sizing: border-box;
	width: 100%;
	padding: 3px 9px;
}

input[type=submit] {
	background: #4e5d6c;
	border: 0;
	outline: none;
	width: auto;
	margin-top: 15px;
	padding: 10px 30px;
	font-size: 18px;
	color: white;
	transition: all 0.2s linear;
	width: 50%;
}

input[type=submit]:hover {
	background: #777777;
}

textarea {
	height: 200px;
}

label {
	color: white;
}

form {
	padding-top: 70px;
}


/* Media Queries*/

@media screen and (max-width: 980px) {
	#panel-body {
		justify-content: flex-start;
	}

	.socialIcons {
		margin-right: 10px;
	}

	#profilePicture {
		width: 250px;
	}

	.PortImages {
		width: 330px;
		height: 246px;
	}
}

@media screen and (max-width: 768px) {
	body {
		padding: 0;
	}

	#connectTitle{
		text-align: left;
	}
	nav {
		position: static !important;
	}

	#labelName {
		width: 80%;
	}

	#labelEmail {
		width: 90%;
	}
	
}

@media screen and (max-width: 640px) {
	
	.PortImages {
			min-width: 250px !important;
			height: 100%;
			min-height: 250px !important;
			margin: 0 15px 30px 35px;
		}

	#labelName {
		width: 100%;
	    }

	#labelEmail {
		width: 100%;
	    }	

	#connectTitle {
		text-align: center;
	} 

	#portfolioTitle {
		text-align: center;
	} 

	form {
		padding-top: 35px;
	}

	#portfolioTitle {
		margin-bottom: 30px;
	}

}

@media screen and (max-width: 480px) {
		
	#profilePicture {
			width: 100%;
			margin: 10px 0;
		}

	#panel-body {
/*			margin-top: 30px;*/
			display: flex;
			justify-content: space-around;
		}
          
                aside {
                    padding-bottom: 15%;
                }   

}



html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 5%;
}


